In [1]:
import numpy as np
import pandas as pd
import quandler
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = [18, 10]

In [2]:
quandl.ApiConfig.api_key = "qR4f7Msn621BzZdhy-Px"


df = quandl.get_table('WIKI/PRICES', ticker = ['AMZN', 'AAPL', 'REGI'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2001-01-11', 'lte': '2020-08-10' }, 
                        paginate=True)

new = df.set_index('date')
df = new.pivot(columns='ticker', values="adj_close")
df = df.dropna()
df.head()

ticker           AAPL    AMZN   REGI
date
2012-01-19  54.971837  194.45  10.10
2012-01-20  54.014408  190.93   9.73
2012-01-23  54.928014  186.09   9.49
2012-01-24  54.028545  187.00   9.85
2012-01-25  57.402035  187.80   9.82